body {
    background-color: #6B7A8F;
    font: Helvetica;
}

h1{
    margin-top: 50px;
    text-align: center;
    color: #DCC7AA;
    text-transform: uppercase;
    text-shadow:
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}

button {
    padding: 20px;
    font-size: 25px;
    background: #F7882F;
    border: solid;
}

#display {
    border: solid;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 10px;
    background-color: #DCC7AA;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

#subtract,
#multiply,
#decimal,
#divide,
#add {
    background: #F7C331;
}

#clear,
#equals {
    background: #DCC7AA;
}
