body {
    background-color: #6B5B95;
    background-image: url("just-waves.png"); /*image from www.toptal.com/designers/subtlepatterns/  */
    font: Helvetica;
    font-weight: bold;
}

h1{
    margin-top: 30px;
    text-align: center;
    color: #32A0FF;
    text-transform: uppercase;
    text-shadow:
        -3px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}

button {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    background: #FF9132;
    border: solid;
    border-radius: 10%;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

#display {
    border: solid;
    border-radius: 10%;
    background-color: #FFF832;
    font-size: 25px;
    text-align: center;
    padding-top: 2%;

}

#subtract,
#multiply,
#decimal,
#divide,
#add {
    background:#32A0FF;
}

#clear,
#equals {
    background: #FFF832;
}

/* ------------------------- Media Queries ----------------------------- */

/* iPad */

@media screen and (width: 768px) {
    .container {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* iPad Pro */
@media screen and (width: 1024px) {
    body {
        margin-top: 10%;
    }
    .container {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* desktop */

@media screen and (min-width: 900px) and (max-width: 1600px) {
    body {
        margin-top: 5%;
    }
    .container {
        padding-left: 20%;
        padding-right: 20%;
    }
}
